[submodule ".fonts"]
	path = .fonts
	url = git://github.com/seletskiy/monaco-font
[submodule "deadfiles"]
	path = deadfiles
	url = git@github.com:deadcrew/deadfiles.git
[submodule "rootfs/usr/share/X11/xkb"]
	path = rootfs/usr/share/X11/xkb
	url = https://github.com/reconquest/rex
[submodule ".secrets"]
	path = .secrets
	url = git@github.com:brnv/secrets
[submodule "source"]
	path = source
	url = git@github.com:kovetskiy/dotfiles
