[user]
    email = baranov.alxy@gmail.com
    name = Alexey Baranov
[core]
    excludesfile = ~/.gitignore_global
    editor = vim
[push]
    default = simple
[url "git@github.com"]
    insteadOf = "gh"
