[user]
    email = baranov.alxy@gmail.com
    name = Alexey Baranov
[core]
    excludesfile = ~/.gitignore_global
    editor = nvim
[push]
    default = simple
[url "git@github.com"]
    insteadOf = "gh"
[url "git@gitlab.com:"]
    insteadOf = "https://gitlab.com/"
