URxvt.loginShell: true
URxvt.transparent: false
URxvt.scrollBar: false
URxvt.cursorBlink: false
URxvt.saveLines: 0
URxvt.font: xft:Monaco:pixelsize=12:antialias=false
URxvt.boldFont: xft:Monaco:style=Bold:pixelsize=12:antialias=false
URxvt.italicFont:
URxvt.boldItalicFont:
URxvt.letterSpace: 0
URxvt.lineSpace: 0
URxvt.termName: rxvt-unicode-256color
URxvt.iso14755: False
URxvt.iso14755_52: False
URxvt.internalBorder: 0
URxvt.perl-ext-common: -scrollback-selection,url-select,keyboard-select,autocomplete-ALL-the-things
URxvt.url-select.launcher: /usr/bin/firefox
URxvt.keysym.Mod4-u: perl:url-select:select_next
URxvt.keysym.Mod4-Escape: perl:keyboard-select:activate
URxvt.keysym.Mod4-S: perl:keyboard-select:search
URxvt.buffered: false
URxvt.pointerBlank: true
URxvt.buffered: false
URxvt.depth: 24

# autocomplete-ALL-the-things
URxvt.keysym.Mod4-Tab: autocomplete-ALL-the-things:WORD-complete
URxvt.keysym.Mod4-ISO_Left_Tab: autocomplete-ALL-the-things:skeleton-complete
URxvt.keysym.Mod4-comma: autocomplete-ALL-the-things:suffix-complete
URxvt.keysym.Mod4-period: autocomplete-ALL-the-things:surround-complete
