snippet in "include"
#include <$1.h>
endsnippet

snippet fi "int function"
int ${1:main}() {
	$0
}
endsnippet

snippet fv "void function"
void ${1:main}() {
	$0
}
endsnippet

snippet p "printf"
printf("$1", $0);
endsnippet

snippet fl "for loop"
for (i = 0; ${1:condition}; i++) {
	$0
}
endsnippet

snippet r "return"
return $0;
endsnippet
