snippet i "import" !b
import $1;
endsnippet

snippet l "log" !b
Log.v("!!!", $1);
endsnippet

snippet pv "public void" !b
public void $1($2) {
	$0
}
endsnippet

snippet if "if" !b
if ($1) {
	$0
}
endsnippet

snippet p "package" !b
package $0;
endsnippet

snippet r "return" !b
return $0;
endsnippet

snippet pc "public class" !b
public class $1 {
	$0
}
endsnippet

snippet t "try" !b
try {
	${1:${VISUAL}}
} catch (Exception e) {
	$2
}
endsnippet
