snippet v "var_dump"
var_dump($$1);
endsnippet

snippet e "exit" !b
exit($1);
endsnippet

snippet i "if" !b
if ($1) {
	$0
}
endsnippet

snippet t "try" !b
try {
	${1:${VISUAL}}
} catch(Exception $e) {
	error_log($e->getMessage());
}
endsnippet
