snippet /div "<div>"
<div ${1:class="$2"} ${3:id="$4"}>
	${5:${VISUAL}}
</div>
endsnippet

snippet /th "<th>"
	<th>$1</th>
endsnippet

snippet /td "<td>"
	<td>$1</td>
endsnippet

snippet /h2 "<h2>"
<h2>
	${1:${VISUAL}}
</h2>
endsnippet

snippet /ifc "if continue"
<?php if($1) continue; ?>
endsnippet
