snippet sct "show create table"
show create table
endsnippet

snippet saf "select * from"
select * from
endsnippet

snippet sd "show databases;"
show databases
endsnippet

snippet uu "use database"
use uveliria-idfly-ru;
endsnippet

snippet st "show tables;"
show tables;
endsnippet

snippet e "explain $1"
explain
endsnippet

snippet ii "insert into"
insert into 
endsnippet

snippet v "values"
values
endsnippet

snippet ut "use database"
use cpa-tracker;
endsnippet
